#tags-section {
    font-family: Calibri;
}

#tags-section .top {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.tag {
    background-color: #fafafa;
    border: 1px solid #eee;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 140px;
    width: 250px;
}

.tag .tags {
    padding: 10px;

}

.tag .tags a, .tags a {
    font-size: 0.75em;
    background: rgba(0, 145, 250, 0.78);
    padding: 2px 6px;
    margin-right: 5px;
}

.tag .content {
    padding: 5px 10px;
    font-size: 0.75em;
}
